/* CSS FOR THE NORMAL VIEW OF THE WEBSITE GOES HERE */


/* GLOBAL PROPERTIES */
*{
    margin: 0;
    padding: 0;
}

body {
    color: #222222;
    text-rendering: optimizeLegibility;
    font-family: Hind Siliguri;
    background: #222;

}

h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    bottom: 80px;
    font-size: 78px;
    color: #fff;
    padding: 10px 0;
    text-shadow: 2px 2px 3px rgba(45, 45, 45, 0.21);
}

h2 {
    font-family: "Montserrat";
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    bottom: 0;
}

.divider {
    border-bottom: 3px solid #ec0d34;
    position: absolute;
    bottom: 110px;
    height: 2px;
    width: 480px;
    margin: 0 50px;
}

/* LANDING */

#bg {
    background: url("https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=1553833461bcefe43b8952a0644c476c");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .9;
    z-index: -2;
    backface-visibility: hidden;
    background-attachment: fixed;
}

#landing {
    margin: 0px;
}

#landing h1, h2 {
    position: absolute;
    padding: 50px;
}

#socialLinks li  { /* Style the list items in the social nav menu */
    display: inline; /* Keeps the list horizontal */
}

.staticMenuItem {
    display: inline;
    padding: 20px;
    transition: all .3s;
}

.staticMenuItem:hover {
    background-color: rgba(164, 164, 164, 0.6);
}

#topMenu {
    position: relative;
    padding: 30px 0;
    text-transform: uppercase;
    background: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(79, 79, 79, 0.4) 50%,rgba(29, 29, 29, 0.7) 100%);
}

#topMenu li {
    display: inline;
    padding: 15px 25px;
    margin: 0 10px;
    transition: all .3s;
}

#topMenu li:hover {
    outline: 3px solid #ec0d34;
    transition: all .3s;
}

#landing a {
    font-family: "Montserrat";
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.hidden {
    transform: translateY(-100px);
    transition: all .3s;
}

#menuList {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0,0,0,0.3) 0 0 10px;
    z-index: 999;
    transition: .3s;
    box-sizing: border-box; /* Needed to keep the navbar width within the confines of the page */
}

#menuList a {
    color: #222 !important; /* Override the original color in the #landing div */
}

#topMenuList {
    padding: 20px;
    width: 100%;
    z-index: 999;
}

#hamburgerbutton {
    display: none; /* Hidden by default */
}

.red {
    color: #ec0d34;
}

#brand {
    height: 100%;
}

/* ABOUT */

#about {
    margin: 50px;
}

#about p {
    color: #fff;
}
