<!-- List upcoming projects that the club and individual members will be working on. -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SBU Projects List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(projects)}">
        <h2>Project List (I don't know how to code .css files so for now it's really ugly)</h2>
        <table class="table table-striped">
            <tr>
                <th>Name.....................................</th>
                <th>Description..............................</th>
                <th>Image URL................................</th>
                <th>Project Pages</th>
            </tr>
            <tr th:each="project : ${projects}">
                <td th:text="${project.name}">Name</td>
                <td th:text="${project.description}">Description</td>
                <td th:text="${project.imagePath}">Image URL</td>
                <td><a th:href="${'/projects/' + project.name}">View More...</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>