/** Possible accent color: #0296f5 **/

*{
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
}

body {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}

.space {
  padding: 40px;
}

h1, h2, h3 {
  font-weight: 200;
  margin: 10px 0;
}

h1 {
  font-size: 60px;
}

p {
  line-height: 36px;
}

.big {
    font-size: 20px;
}

/* SPLASH */
#splash {

}

#bg {
  background-image: url("https://images.unsplash.com/photo-1444424050109-31f057e1e858?dpr=1&auto=format&fit=crop&w=1600&h=900&q=100&cs=tinysrgb&crop=");
  background-position: 50% 100%;
  background-size: cover;
  height: 350px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;}

#blur {
	    position: absolute;
    bottom: 0;
    width: 100%;
}

#overlay {
  width: 100%;
height: 75px;
bottom: 0;
background: rgba(0, 0, 0, 0.35);
position: absolute;
}

#stats {
  margin-left: 275px;
    height: 100%;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: flex;
        flex-basis: 33.333%;
        font-size:  11px;

}

#overlaybg {
  background-image: url("https://images.unsplash.com/photo-1473421128459-ca4900980e03?dpr=1.25&auto=compress,format&fit=crop&w=991&h=661&q=80&cs=tinysrgb&crop=");
      background-position: center;
      background-size: cover;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 75px;
      background-position: 100% -44%;
      -webkit-filter: blur(5px);
      filter: blur(5px);
}

.figures {
  vertical-align: middle;
padding: 15px 20px;
}

#followers {

}

/* CONTENT */
#content {
  padding: 20px;
  box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.35);
}

#details {
  margin-left: 30px;
}

.avatar {
  border-radius: 50%;
width: 200px;
margin: 2.5em;
margin-top: -9em;
transition: all .3s;
position: absolute;
}

.email {
  color: #6c6c6c;
}

.major {
  color: #aaa;
}

.sections {
  padding: 10px 20px;
  margin-bottom: 20px;
}

#contact {
   border-left: 2px solid #03beba;
}

#about {
  border-left: 2px solid #f75a70;
}

#projects {
  border-left: 2px solid #28b01e;
}

#social {
    border-left: 2px solid #f29335;
}
